{% extends 'base.html.twig' %}

{% block title %}Create new admin{% endblock %}

{% block body %}
<div class="main-container">
    <div class="white-frame">
        <div class="content">
            <h1>Create new admin</h1>
            {{ form_start(form) }}
            
            <div style="margin-bottom: 10px;">
                {{ form_row(form.utilisateur) }} {# Affichage du formulaire de l'utilisateur #}
            </div>
            
            <div style="margin-bottom: 10px;">
                {{ form_row(form.departement) }} {# Affichage du champ département #}
            </div>
            
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{{ path('app_admin_index') }}" class="btn btn-secondary">Back to list</a>
            
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
